---
import { getCollection } from 'astro:content';
import getSortedPosts from '@/utils/getSortedPosts';
import Main from '@/layouts/Main.astro';
import Post from '@/components/Post.astro';
import Pagination from '@/components/Pagination.astro';

export async function getStaticPaths({ paginate }) {
	const postCollection = await getCollection('articles');
	const posts = getSortedPosts(postCollection);

	return paginate(posts, {
		pageSize: 4,
	});
}

const { page } = Astro.props;
---

<Main title='Articles with Mike'>
	<div class="max-w-3xl mx-auto">

		<header class='max-w-2xl'>
			<h1
				class='text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl'
			>
				Writing on software design and building things.
			</h1><p class='mt-6 text-base text-zinc-600 dark:text-zinc-400'>
				All of my long-form thoughts on programming and more, collected in
				chronological order.
			</p>
		</header>
		<div class='mt-16 sm:mt-20'>
			<div
				class='md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40'
			>
				<div class='flex flex-col max-w-3xl space-y-16'>
					{
						page.data.map((post) => {
							return (
								<Post
									post={post.data}
									link={`/articles/${post.slug}`}
								/>
							);
						})
					}
				</div>
			</div>
			{
				(page.url.prev || page.url.next) && (
					<div class='float-right mt-10 text-zinc-800 dark:text-zinc-200'>
						<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
					</div>
				)
			}
		</div>
	</div>
</Main>
