---
import Main from '@/layouts/Main.astro';
---

<Main>
	<div
		class='max-w-3xl mx-auto'
	>
		<div>
			<header class='max-w-2xl'>
				<h1
					class='text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl'
				>
					I’m Dev Mike. Nice to meet you 👋
				</h1>
			</header>
			<div
				class='mt-10 text-base space-y-7 text-zinc-600 dark:text-zinc-400'
			>
				<p>
					I am a versatile Data & Software Engineer and Automation Enthusiast with a
					passion for tackling complex challenges and developing innovative
					solutions. With a diverse skill set and a natural inclination towards
					learning, I consider myself a "jack of all trades" in the world of
					technology.
				</p>
				<p>
					As a seasoned professional with years of experience, I have honed my
					expertise in areas such as software development, automation, testing,
					and project management. I possess a deep understanding of programming
					languages, frameworks, and tools, and am always eager to explore new
					technologies and methodologies.
				</p>
				<p>
					What sets me apart is my ability to adapt quickly to changing
					environments and work collaboratively with teams of diverse
					backgrounds. I am a problem solver at heart and enjoy taking on
					challenging projects that require creative thinking and out-of-the-box
					solutions.
				</p>
				<p>
					Whether you're looking to build a robust software application,
					automate your business processes, or improve your software testing
					workflows, I'm here to help. Let's work together to achieve your goals
					and make your vision a reality.
				</p>
			</div>
			<ul role='list' class="mt-10">
				<li class='flex pt-8 border-t border-zinc-100 dark:border-zinc-700/40'>
					<a
						class='flex text-sm font-medium transition group text-zinc-800 hover:text-prime dark:text-zinc-200'
						href='mailto:mike@withmike.co'
						><svg
							viewBox='0 0 24 24'
							aria-hidden='true'
							class='flex-none w-6 h-6 transition fill-zinc-500 group-hover:fill-prime'
							><path
								fill-rule='evenodd'
								d='M6 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H6Zm.245 2.187a.75.75 0 0 0-.99 1.126l6.25 5.5a.75.75 0 0 0 .99 0l6.25-5.5a.75.75 0 0 0-.99-1.126L12 12.251 6.245 7.187Z'
							></path></svg
						><span class='ml-4'>mike@withmike.co</span></a
					>
				</li>
			</ul>
		</div>
	</div>
</Main>
