---
import Main from '@/layouts/Main.astro';
---

<Main>
	<div
		class='max-w-3xl mx-auto'
	>
		<div>
			<header class='max-w-2xl'>
				<h1
					class='text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl'
				>
					I’m Dev Mike. Nice to meet you 👋
				</h1>
			</header>
			<div
				class='mt-10 text-base space-y-7 text-zinc-600 dark:text-zinc-400'
			>
				<p>
					I am a versatile Data & Software Engineer and Automation Enthusiast with a
					passion for tackling complex challenges and developing innovative
					solutions. With a diverse skill set and a natural inclination towards
					learning, I consider myself a "jack of all trades" in the world of
					technology.
				</p>
				<p>
					As a seasoned professional with years of experience, I have honed my
					expertise in areas such as software development, automation, testing,
					and project management. I possess a deep understanding of programming
					languages, frameworks, and tools, and am always eager to explore new
					technologies and methodologies.
				</p>
				<p>
					What sets me apart is my ability to adapt quickly to changing
					environments and work collaboratively with teams of diverse
					backgrounds. I am a problem solver at heart and enjoy taking on
					challenging projects that require creative thinking and out-of-the-box
					solutions.
				</p>
				<p>
					Whether you're looking to build a robust software application,
					automate your business processes, or improve your software testing
					workflows, I'm here to help. Let's work together to achieve your goals
					and make your vision a reality.
				</p>
			</div>
		</div>
	</div>
</Main>
