<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Dev with Mike</title>
		<meta http-equiv='refresh' content={`0; url="/articles" }`} />
	</head>
	<body class="text-white bg-zinc-900">
		<p>Redirecting to articles page</p>
	</body>
</html>
