---
import Link from '../components/Link.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<h1 class='text-4xl font-bold tracking-tight text-zinc-600 dark:text-zinc-300 sm:text-5xl'>
		Hello there 👋
	</h1>
	<Link href='/articles/' text='Go to Articles' classes='inline-block bg-teal-500 text-white rounded px-5 py-2.5 mt-10' />
</MainLayout>
