---

import { Icon } from "astro-icon/components"

interface Props {
	text: string;
	href: string;
	icon? : {
		name: string;
		side: string;
	}
	classes?: string;
}

const { text, href, icon, classes, ...rest } = Astro.props as Props;
---

<a 
	href={href}
	class:list={[classes, {'flex': icon}, {'items-center': icon}, {'gap-2': icon}]}
	{...rest}
>
{
	icon && icon.side === "left" && (
		<Icon name={icon.name} class="text-2xl" />
	)
}

<span>{text}</span>

{
	icon && icon.side === "right" && (
		<Icon name={icon.name} class="text-2xl" />
	)
}
</a>
